<div>
    <div>
        <label for="ejemplos">Medicamento</label>
        <select id="ejemplos">
            <option value="ejemplo1">Ejemplo1</option>
            <option value="ejemplo2">Ejemplo2</option>
            <option value="ejemplo3">Ejemplo3</option>
            <option value="ejemplo4">Ejemplo4</option>
        </select>
    </div>
    <div>
        <label for="dosis">Dosis</label>
        <select id="dosis">
            <option value="dosis1">Dosis1</option>
            <option value="dosis2">Dosis2</option>
            <option value="dosis3">Dosis3</option>
            <option value="dosis4">Dosis4</option>
        </select>
    </div>
    <div>
        <label for="ejercicios">Ejercicios Realizados</label>
        <textarea rows="5" col="30" placeholder="Ejercicios"></textarea>
    </div>
    <div>
        <label for="mejoro">Mejoro?</label>
        <textarea rows="5" col="30" placeholder="Explique brevemente su experiencia"></textarea>
    </div>
    <button>Guardar</button>
</div>