<div class="row sombra bg-light navbarEstatico">&nbsp;
    <img
		width = "60"
		alt = "Angular Logo"
    src="assets/imagenUsuario/atar.jpg" />
  <div class="ml-auto" align="center"><h1>  Modificar perfil </h1></div>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light ml-auto">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active fluffy">
        <a class="nav-link" [routerLink]="[ '/home' ]">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Asociación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Asociarse</a>
      </li>
    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Centros</a>
        <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Centro1</a>
        <a class="dropdown-item" href="#">Centro2</a>
        <a class="dropdown-item" href="#">Centro3</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Ayuda</a>
        </div>
    
      <li class="nav-item">
        <a class="nav-link" href="#">Panel</a>
      </li>
      </ul>
    
    </div>
    </nav>

</div>
<br>
