<div>
    <div>
      <label for="nacimiento">Nacimiento</label>
      <input type="date" id="nacimiento" />
    </div>
    <div>
      <label for="sexo">Sexo</label>
      <select id="sexo">
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
        <option value="otro">Otro</option>
      </select>
    </div>
    <div>
      <label for="pais">Pais</label>
      <select id="pais">
        <option value="argentina">Argentina</option>
        <option value="uruguay">Uruguay</option>
        <option value="chile">Chile</option>
      </select>
    </div>
    <div>
        <input type="checkbox" id="geo"/>
        <label for="geo">Compartir geolocalizacion</label>
    </div>
    <div>
      <label for="tipo">Tipo ataxia</label>
      <select id="tipo">
        <option value="tipo1">Tipo 1</option>
        <option value="tipo2">Tipo 2</option>
        <option value="tipo3">Tipo 3</option>
      </select>
    </div>
    <div>
      <label for="mejoro">Medicamentos</label>
      <textarea
        rows="5"
        col="30"
        placeholder="Ingrese medicamentos"
      ></textarea>
    </div>
    <button>Actualizar</button>
  </div>